<!DOCTYPE html>
<html>
<head>
  <title>Card Game</title>
</head>
<body>
  <h1>Welcome to the Card Game!</h1>

  <!-- The score counter for the game -->
  <table>
    <tr>
      <td>Wins</td>
      <td>Losses</td>
    </tr>
    <tr>
      <td>{{getWins}}</td>
      <td>{{getLosses}}</td>
    </tr>
    <tr>
    </tr>
  </table>

  <!-- The first part of the game -->
  <div id="colourSection" class="fadeIn">

    <h2>What colour do you think the first card will be?</h2>
    <label>
    <input type="radio" id="a" name="sample" value="red" (change)="onChangeColour($event)"/> 
    Red
  </label>
    <br>
    <label>
    <input type="radio" id="b" name="sample" value="black" (change)="onChangeColour($event)" />
Black
  </label>
    <br>
    <button (click)="drawCardColour()">Draw card!</button>
    <br>
    <img src={{imageLinkColour}}>
    <br>
    <div id="colourCorrect" hidden>
      <p>Congratulations! The colour you chose was correct. Click Continue to advance to the next round.</p>
      <button (click)="continueValue()">Continue</button>
    </div>
    
    <div id="colourIncorrect" hidden>
      <p>Sorry! The colour you chose was incorrect. Click Start Over to restart the game with a new deck!</p>
      <button (click)="restartPage()">Start Over</button>
    </div>
  
  </div>
  
<!-- The second part of the game -->
<div id="valueSection" class="fadeIn" hidden>
  <h2>Will the next card drawn be higher, lower, or the same in value than the card you drew above?</h2>
  
    <select (change)="onChangeValue($event)">
          <option default>Pick a value</option>
          <option value="higher">Higher</option>
          <option value="lower">Lower</option>
          <option value="same">Same</option>
      </select>
  
    <br>

    <button (click)="drawCardValue()">Draw card</button>
    
    <br>

    <img src={{imageLinkValue}}>
    
    <div id="valueCorrect" hidden>
      <p>Congratulations, your choice of value was correct! Click below to continue to the next round!</p>
      <button (click)="continueSuits()">Continue</button>
    </div>
    
    <div id="valueIncorrect" hidden>
      <p>Unfortunately, your choice of value you chose was incorrect. Click to start over.</p>
      <button (click)="restartPage()">Start Over</button>
    </div>
  </div>
  
  <!-- The third part of the game -->
  <div id="suitSection" class="fadeIn" hidden>
    <h2>What suit will the next card you draw be? (DIAMONDS, CLUBS, HEARTS, SPADES)</h2>
  
    <input type="text" (keyup)="onChangeSuit($event)">

    <br>
  
    <button (click)="drawCardSuit()">Draw card</button>
    
    <br>

    <img src={{imageLinkSuit}}>

    <br>
    
    <div id="suitsCorrect" hidden>
      <p>The suit you chose was correct. Congratulations on winning the game!</p>
      <button (click)="openCongratulations()">Congratulations!</button>
    </div>
    
    <div id="suitsIncorrect" hidden>
      <p>The suit you chose was incorrect. Click Start Over to restart the game.</p>
      <button (click)="restartPage()">Start Over</button>
    </div>
  </div>
</body>
</html>